[submodule "extlibs/htslib"]
	path = extlibs/htslib
	url = https://github.com/samtools/htslib
[submodule "extlibs/rapidcsv"]
	path = extlibs/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/spdlog"]
	path = extlibs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extlibs/dynamic_bitset"]
	path = extlibs/dynamic_bitset
	url = https://github.com/pinam45/dynamic_bitset
[submodule "extlibs/libpopcnt"]
	path = extlibs/libpopcnt
	url = https://github.com/kimwalisch/libpopcnt
[submodule "extlibs/CLI11"]
	path = extlibs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
